allpairspy>=2.5
approval-utilities>=8.2
approvaltests>=8.2
atomicwrites>=1.4
attrs>=20.2
beautifulsoup4>=4.12
certifi>=2023.5
charset-normalizer>=3.1
colorama>=0.4
coverage>=5.3
docopt>=0.6.2
empty-files>=0.0.3
exceptiongroup>=1.1.1
idna>=3.4
iniconfig>=1.1
mrjob>=0.7
mutatest>=3.1
packaging>=20.4
pathtools>=0.1
pluggy>=0.13
py>=1.9
pyparsing>=2.4
pyperclip>=1.8
pytest>=6.2,<6.3
pytest-approvaltests>=0.2
pytest-cov>=2.10
pytest-pythonpath>=0.7
pytest-watch>=4.2
PyYAML>=6.0
requests>=2.31
six>=1.15
soupsieve>=2.4
toml>=0.10
tomli>=2.0
typing-extensions>=4.6
urllib3>=2.0
watchdog>=0.10
